body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #ececea;
}

ol,
ul {
  padding-left: 30px;
}
.gameboard {
  width: 50%;
  max-width: 800px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  height: 50vw;
  max-height: 800px;
}
.board-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 6.25vw;
  position: relative;
  max-height: 100px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  width: 6.25vw;
  max-width: 100px;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 6.25vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  position: relative;
  display: block;
  max-height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  align-items: center;
}

.game-info {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  display: grid;
padding: 1rem;
}
.game-status {
  margin-top: 20px;
min-height: 50px;
width: 100%;
display: block;
max-width: 400px;
position: relative;
}
.icons-attribution,
.game-status,
.fallen-soldier-block {
  margin-top: 20px;
  min-height: 50px;
}

/*Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html*/
.dark-square {
  background-color: RGB(116, 115, 195);
}

.light-square {
  background-color: RGB(234, 240, 206);
}

#player-turn-box {
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

.promote {
  display: none;
  bottom: auto;
  z-index: 1;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  flex-direction: column;
  border-radius: 4px;
  position: absolute;
}
.promote-white {
  top: 0;
}
.promote-black {
  bottom: 0;
}
